# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
.venv/
venv/

# Django
db.sqlite3
*.sqlite3
staticfiles/
media/

# Environment
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db


/viewer/migrations/
/accounts/migrations/
