<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>TrainBase{% block title %}{% endblock %}</title>
</head>

<body>
    {% include 'navbar.html' %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
</html>
