<ul class="navbar">
            <li><a href="{% url 'home' %}"> Domů</a></li>
            <li><a href="{% url 'events' %}"> Události</a></li>
            <li><a href="#"> Skupiny</a></li>
            <li><a href="#"> Lidé</a></li>

            <div class="auth-group">
                {% if not user.is_authenticated %}
                <li><a href="#"> Registrace</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    {{ user.username }}
                {% else %}
                <li><a href="#"> Přihlášení</a></li>
                {% endif %}
            </div>
        </ul>