<ul class="navbar">
            <li><a href="{% url 'home' %}"> Home</a></li>
            <li><a href="{% url 'events' %}"> Events</a></li>
            <li><a href="#"> Workout plans</a></li>
            <li><a href="#"> Meal plan</a></li>
            <li><a href="#"> E-books</a></li>
            <li><a href="#"> Services</a></li>
            <li><a href="#"> Contact</a></li>

            <div class="auth-group">
                {% if not user.is_authenticated %}
                <li><a href="#"> Registrace</a></li>
                {% endif %}

                {% if user.is_authenticated %}
                    {{ user.username }}
                {% else %}
                <li><a href="#"> Přihlášení</a></li>
                {% endif %}
            </div>
        </ul>